In [1]:
import pandas as pd

# Read column names

In [31]:
def init_column_names():
    num_cols = pd.read_csv('./data/numeric_columns.csv')
    num_cols = num_cols.iloc[:,1:].columns
    # print num_cols
    
    cat_cols = pd.read_csv('./data/categorical_columns.csv')
    cat_cols = cat_cols.iloc[:,1:].columns
    # print cat_cols
    
    amen_cols = pd.read_csv('./data/amenities_columns.csv')
    amen_cols = amen_cols.iloc[:,1:].columns
    # print amen_cols
    
    return (num_cols, cat_cols, amen_cols)

NCOLS, CCOLS, ACOLS = init_column_names()
NCOLS = [v.strip() for v in NCOLS.values]
CCOLS = [v.strip() for v in CCOLS.values]
ACOLS = [v.strip() for v in ACOLS.values]

In [32]:
for c in NCOLS: print c

bathrooms
bedrooms
beds
cleaning_fee
guests_included
host_listings_count
host_acceptance_rate
host_response_rate
host_has_profile_pic
host_identity_verified
days_delta
reviews_per_month

In [3]:
# Get Min, Median, and Max for all columns and store them in a file

def store_col_stats(source_csv, output_csv, omit_col='Unnamed: 0'):
    df = pd.read_csv(source_csv, index_col=0)
    if omit_col:
        df = df.drop([omit_col], axis=1)
    df.describe().to_csv(output_csv)
    
    
store_col_stats('./data/fin_num_train_deps.csv', './data/num_stats.csv', omit_col=None)
store_col_stats('./data/fin_cat_train_deps.csv', './data/cat_stats.csv', omit_col=None)
store_col_stats('./data/fin_amen_train_deps.csv', './data/amen_stats.csv', omit_col=None)

In [76]:
def init_col_stats():
    num_stats = pd.read_csv('./data/num_stats.csv', index_col=0)
    cat_stats = pd.read_csv('./data/cat_stats.csv', index_col=0)  
    amen_stats = pd.read_csv('./data/amen_stats.csv', index_col=0)
    return num_stats, cat_stats, amen_stats

In [77]:
NSTATS, CSTATS, ASTATS = init_col_stats()

In [84]:
NSTATS

,bathrooms,bedrooms,beds,cleaning_fee,guests_included,host_listings_count,host_acceptance_rate,host_response_rate,host_has_profile_pic,host_identity_verified,days_delta,reviews_per_month
count,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000,119615.000000
mean,0.296566,0.263960,0.242080,0.191308,0.100931,0.026884,0.970590,0.962724,0.999039,0.999039,0.336451,0.151077
std,0.121809,0.166478,0.150734,0.118639,0.177663,0.098157,0.102433,0.115166,0.030992,0.030992,0.181701,0.151824
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.200000,0.142857,0.125000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.194026,0.034195
50%,0.250000,0.200000,0.142857,0.175000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.329679,0.095079
75%,0.250000,0.400000,0.285714,0.250000,0.142857,0.010101,1.000000,1.000000,1.000000,1.000000,0.467251,0.226856
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Create numeric interactions

def create_interaction(f1, f2, intyp):
    if 'D' == intype:
        return f1 / f2
    if 'A' == intype:
        return f1 + f2
    if 'S' == intype:
        return f1 - f2
    
    # Mulitply the features by default
    return f1 * f2

def get_interacted_dataset(ds, interactions_dict, drop=False):
    col_names = []
    for k, v in interactions_dict.items():
        colname = k+'_by_'+v[0]
        ds[colname] = ds[k] * ds[v[0]]
        col_names.append(colname)
        
    if drop:
        for k in interactions_dict.keys():
            ds = ds.drop(k, axis=1)
    
    return col_names, ds


inter_dct = {
    'bedrooms': ('bathrooms', 'M'), 
    'bedrooms': ('beds', 'M'), 
    'beds': ('guests_included', 'M'), 
    'bathrooms': ('guests_included', 'M'), 
    'cleaning_fee': ('guests_included', 'D'), 
    'host_acceptance_rate': ('host_response_rate', 'D')
}


# col_names, data = get_interacted_dataset(data, inter_dct, drop=False)

# Read Sample input data

In [109]:
si = pd.read_csv('./data/sample_input.csv', encoding='utf8', dtype=float)

In [80]:
# si_cols = [v.strip() for v in si.columns]
# si = pd.DataFrame(si, columns=si_cols)

In [110]:
def get_col_value(colname, input_df, stats):
        res = None
        if colname in input_df.columns:
            res = input_df[colname]
        else:
            res = stats.loc['50%', colname]
        return res

def reformulate_input(inp):
    num = pd.DataFrame(columns=NCOLS)
    cat = pd.DataFrame(columns=CCOLS)
    amen = pd.DataFrame(columns=ACOLS)
    
    for c in NCOLS:
        num[c] = get_col_value(c, inp, NSTATS)
    num = normalize_numeric(n)
    
    for c in CCOLS:
        cat[c] = get_col_value(c, inp, CSTATS)
    
    for c in ACOLS:
        amen[c] = get_col_value(c, inp, ASTATS)
        
    return pd.concat([num, cat, amen], axis=1)

def normalize_numeric(df):
    outdf = pd.DataFrame(columns=df.columns)
    
    for c in df.columns:
        outdf[c] = (df[c] - 1. * NSTATS.loc['min', c]) / (NSTATS.loc['max', c] - NSTATS.loc['min', c])
    
    return outdf

rsi = reformulate_input(si)